<div class="page ng-scope">
  <div class="panel-body">
    <div class="row">
      <a ui-sref="apps.versions({ id: app.id })" class="col-md-3 app-panel" ng-repeat="app in apps">
        <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
          <div class="ui-ribbon-wrapper">
            <div class="ui-ribbon">{{ app.env }}</div>
          </div>
          <div class="panel-heading">{{ app.name }} - {{ app.os }}</div>
           <div class="panel-body app-panel-body">
            <p>{{ app.desc }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
